@page
@using GoodFood.Web.Common
@model GoodFood.Web.Pages.Shop.Cart.IndexModel
@{
}

<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f br-1">
        <div class="overlay bg-black op-9"></div>
        <img src="assets/img/shape-1.png" alt="Image" class="br-shape-1">
        <img src="assets/img/shape-2.png" alt="Image" class="br-shape-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-title">
                        <h2>سبد خرید</h2>
                        <ul class="breadcrumb-menu list-style">
                            <li><a href="index.html">خانه </a></li>
                            <li>سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="wishlist-wrap ptb-100">
        <div class="container">

            <component type="typeof(Components.Cart)" render-mode="ServerPrerendered" param-userInfo="@User.GetUserInfo()"/>

 
        </div>
    </section>

</div>

