
<div class="sidebar">
    <div class="sidebar-widget categories">
        <h4>حساب من</h4>
        <div class="category-box">
            <ul class="list-style">
                <li><a asp-page="/orders/index" asp-area="user">سفارش ها<i class="flaticon-back"></i> </a></li>
                <li><a href="#">پرداخت ها<i class="flaticon-back"></i> </a></li>
                <li><a href="#">تنظیمات<i class="flaticon-back"></i> </a></li>
               
            </ul>
        </div>
    </div>

</div>
