@page
@model GoodFood.Web.Areas.Admin.Pages.Menus.IndexModel

@{
    var i = 1;
}

<div class="d-flex align-items-center justify-content-between p-3 border-bottom tx-16">
    <div class="d-flex align-items-center">
        <span>منو غذاها</span>
    </div>
    <div>
        <a class="btn btn-primary" asp-page="./create" target="_blank">جدید</a>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>غذا</th>
                                <th>تعداد</th>
                                <th>قیمت</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MenuLines)
                            {
                                <tr>
                                    <th>@i</th>
                                    <th>@item.FoodId</th>
                                    <td>@item.Count</td>
                                    <td>@item.Price</td>
                              

                                </tr>

                                i++;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
