@page
@model GoodFood.Web.Areas.User.Pages.IndexModel
@{
}

@section header{
    <div class="breadcrumb-title">
        <h2>حساب من</h2>
        <ul class="breadcrumb-menu list-style">
            <li><a href="index.html">خانه </a></li>
            <li>حساب من</li>
        </ul>
    </div>
}


