<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
    <meta name="author" content="NobleUI">
    <meta name="keywords"
          content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <title>NobleUI - قالب HTML مدیریتی بوت استرپ 5</title>


    <!-- core:css -->
    <link rel="stylesheet" href="~/admin/assets/vendors/core/core.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/admin/assets/vendors/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/persian-datepicker-0.4.5.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/demo1/style-rtl.min.css">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
</head>

<body>
    <div class="main-wrapper">

        <partial name="_sidebar" />

        <div class="page-wrapper">

            <!-- partial:partials/_navbar.html -->
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    <form class="search-form">
                        <div class="input-group">
                            <div class="input-group-text">
                                <i data-feather="search"></i>
                            </div>
                            <input type="text" class="form-control" id="navbarForm" placeholder="جستجو ...">
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="flag-icon flag-icon-ir mt-1" title="فارسی"></i> <span class="ms-1 me-1 d-none d-md-inline-block">فارسی</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languageDropdown">
                                <a href="javascript:;" class="dropdown-item py-2">
                                    <i class="flag-icon flag-icon-ir" title="فارسی"
                                       id="us"></i> <span class="ms-1"> فارسی </span>
                                </a>
                                <a href="javascript:;" class="dropdown-item py-2">
                                    <i class="flag-icon flag-icon-us" title="انگلیسی"
                                       id="fr"></i> <span class="ms-1"> انگلیسی </span>
                                </a>
                                <a href="javascript:;" class="dropdown-item py-2">
                                    <i class="flag-icon flag-icon-de" title="آلمانی"
                                       id="de"></i> <span class="ms-1"> آلمانی </span>
                                </a>
                                <a href="javascript:;" class="dropdown-item py-2">
                                    <i class="flag-icon flag-icon-tr" title="ترکی"
                                       id="pt"></i> <span class="ms-1"> ترکی استانبولی </span>
                                </a>
                                <a href="javascript:;" class="dropdown-item py-2">
                                    <i class="flag-icon flag-icon-es" title="اسپانیایی"
                                       id="es"></i> <span class="ms-1"> اسپانیایی </span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i data-feather="grid"></i>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="appsDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p class="mb-0 fw-bold">برنامه های وب</p>
                                    <a href="javascript:;" class="text-muted">ویرایش</a>
                                </div>
                                <div class="row g-0 p-1">
                                    <div class="col-3 text-center">
                                        <a href="pages/apps/chat.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="message-square" class="icon-lg mb-1"></i>
                                            <p class="tx-12">گفتگو</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/apps/calendar.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="calendar" class="icon-lg mb-1"></i>
                                            <p class="tx-12">تقویم رویداد</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/email/inbox.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="mail" class="icon-lg mb-1"></i>
                                            <p class="tx-12">ایمیل</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/general/profile.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="instagram" class="icon-lg mb-1"></i>
                                            <p class="tx-12">پروفایل</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">مشاهده همه</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i data-feather="mail"></i>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="messageDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p>9 پیغام جدید</p>
                                    <a href="javascript:;" class="text-muted">پاک کردن همه</a>
                                </div>
                                <div class="p-1">
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face2.jpg" alt="userr">
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>رضا افشار</p>
                                                <p class="tx-12 text-muted">وضعیت پروژه</p>
                                            </div>
                                            <p class="tx-12 text-muted">2 دقیقه پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face3.jpg" alt="userr">
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>پریسا توکلی</p>
                                                <p class="tx-12 text-muted">جلسه با مشتری</p>
                                            </div>
                                            <p class="tx-12 text-muted">30 دقیقه پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face4.jpg" alt="userr">
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>پدرام شریفی</p>
                                                <p class="tx-12 text-muted">به روز رسانی پروژه</p>
                                            </div>
                                            <p class="tx-12 text-muted">1 ساعت پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face5.jpg" alt="userr">
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>آرزو محبی</p>
                                                <p class="tx-12 text-muted">پایان پروژه</p>
                                            </div>
                                            <p class="tx-12 text-muted">2 ساعت پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face6.jpg" alt="userr">
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>نرگس علیپور</p>
                                                <p class="tx-12 text-muted">رکورد جدید</p>
                                            </div>
                                            <p class="tx-12 text-muted">5 ساعت پیش</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">مشاهده همه</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="bell"></i>
                                <div class="indicator">
                                    <div class="circle"></div>
                                </div>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="notificationDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p>6 اعلان جدید</p>
                                    <a href="javascript:;" class="text-muted">پاک کردن همه</a>
                                </div>
                                <div class="p-1">
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="gift"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>سفارش جدید دریافت شد</p>
                                            <p class="tx-12 text-muted">30 دقیقه پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="alert-circle"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>محدودیت سرور!</p>
                                            <p class="tx-12 text-muted">1 ساعت پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face6.jpg" alt="userr">
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>کاربر جدید ثبت نام کرد</p>
                                            <p class="tx-12 text-muted">2 ثانیه پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="layers"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>برنامه ها نیاز به به روز رسانی دارند</p>
                                            <p class="tx-12 text-muted">5 ساعت پیش</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="download"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>دانلود تکمیل شد</p>
                                            <p class="tx-12 text-muted">6 ساعت پیش</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">مشاهده همه</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="wd-30 ht-30 rounded-circle" src="~/admin/assets/images/faces/face1.jpg" alt="profile">
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                                <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                                    <div class="mb-3">
                                        <img class="wd-80 ht-80 rounded-circle" src="~/admin/assets/images/faces/face1.jpg" alt="">
                                    </div>
                                    <div class="text-center">
                                        <p class="tx-16 fw-bolder">آرزو محبی</p>
                                        <p class="tx-12 text-muted">arezomohebi@gmail.com</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled p-1">
                                    <li class="dropdown-item py-2">
                                        <a href="pages/general/profile.html" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="user"></i>
                                            <span>پروفایل</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="edit"></i>
                                            <span>ویرایش پروفایل</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="repeat"></i>
                                            <span>تغییر کاربر</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="log-out"></i>
                                            <span>خروج</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->

            <div class="page-content">
                @RenderBody()
            </div>

            <!-- partial:partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
                <p class="text-muted mb-1 mb-md-0">
                    کپی رایت © 2020، تمام حقوق محفوظ است</a>.
                </p>
            </footer>
            <!-- partial -->

        </div>
    </div>

    <!-- core:js -->
    <script src="~/admin/assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin/assets/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/admin/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/admin/assets/js/persian-date-0.1.8.min.js"></script>
    <script src="~/admin/assets/js/persian-datepicker-0.4.5.min.js"></script>
    <script src="~/admin/assets/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin/assets/js/dashboard-light.js"></script>
    <!-- End custom js for this page -->

</body>

</html>