<header class="header-wrap style1">
    <div class="header-top">
        <div class="container">
            <div class="close-header-top xl-none">
                <button type="button"><i class="las la-times"></i></button>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="header-top-left">
                        <div class="contact-item">
                            <i class="flaticon-wall-clock"></i>
                            <p>دوشنبه - یکشنبه[8:00عصر - 10:00صبح]</p>
                        </div>
                        <div class="contact-item">
                            <i class="flaticon-phone-call"></i>
                            <a href="tel:13454567877">800-323-4567</a>
                        </div>
                       @*  <div class="contact-item">
                            <i class="flaticon-voucher"></i>
                            <p>
                                تخفیف <strong>25%</strong>تنها برای <span>همبرگر</span>
                            </p>
                        </div> *@
                    </div>
                </div>
                <div class="col-xl-2 col-lg-12">
                    <div class="header-top-right">
                        <div class="select-lang">
                            <div class="navbar-option-item navbar-language dropdown language-option">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/img/uk.png" alt="flag">
                                        انگلیسی
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/img/china.png" alt="flag">
                                        简体中文
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/img/uae.png" alt="flag">
                                        العربيّة
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="select-currency">
                            <select>
                                <option value="1">دلار</option>
                                <option value="2">پوند</option>
                                <option value="3">ین</option>
                            </select>
                        </div>
                    </div>
                    <a href="reservation.html" class="btn style1 xl-none">رزرو کردن <i class="flaticon-right-arrow-2"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="header-bottom">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-6 col-md-6 col-5">
                    <a asp-page="Index" asp-area="" class="logo"><img src="assets/img/logo-white.png" alt="Image"></a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-7">
                    <div class="main-menu-wrap">
                        <div class="menu-close xl-none">
                            <a href="javascript:void(0)"><i class="las la-times"></i></a>
                        </div>
                        <div id="menu">
                            <ul class="main-menu list-style">
                              
                                <li>
                                    <a asp-page="/shop/Index" asp-area="">منوی روز</a>
                                </li>
                                <li>
                                    <a href="contact.html">تماس با ما</a>
                                </li>
                                <li class="has-children">
                                    <a href="#">حساب من</a>
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-bar-wrap">
                        <a href="cart.html" class="shopcart  xl-none">
                            <i class="las la-shopping-cart"></i>
                            <span>1</span>
                        </a>
                        <div class="mobile-top-bar xl-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="mobile-menu xl-none">
                            <a href="javascript:void(0)"><i class="las la-bars"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 lg-none">
                    <div class="header-bottom-right">
                        <a asp-page="/shop/cart/index" class="shopcart">
                            <i class="las la-shopping-cart"></i>
                            <span>3</span>
                        </a>
                        <a href="reservation.html" class="btn style1">رزرو کنید <i class="flaticon-right-arrow-2"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
